@page
@model PrzetwarzanieObrazow.Web.Pages.ImageForm

@{
    ViewData["Title"] = "Formularz przesyłania obrazów";
}

<h2>Upload Image</h2>

<form method="post" enctype="multipart/form-data">
    <div>
        <label for="fileUpload">Wybierz obraz PNG:</label>
        <input type="file" id="fileUpload" name="fileUpload" accept="image/*" required>
        <br/>
        <select name="algorithm">
            <option value="highpass">High Pass Filter</option>
            <option value="grayscale">Grayscale</option>
            <option value="contrastchange">Contrast Change</option>
            <option value="brightnesschange">Brightness Change</option>
        </select>
    </div>
    <button type="submit">Prześlij</button>
</form>