@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Przetwarzanie Obrazów - Strona Główna</h1>
    <h2>Przedmiot: Zaawansowane Techniki Programowania</h2>
    <h2>Prowadzący: dr hab. inż. Mirosław Kordos, prof. ATH</h2>
    <h2>Autor: Rafał Klinowski</h2>
    <p>Instrukcja:</p>
    <p>Przejdź do strony <a asp-area="" asp-page="/ImageForm">Przesyłanie obrazów</a> aby przesłać wybrany przez siebie obraz, oraz nałożyć na niego wybrany filtr.</p>
</div>