@page
@model Result

<h1>Wynik algorytmu</h1>

<p>The API returned the following result:</p>
<!-- TODO: pokazać cały result -->
<p>Algorytm: @Model.CurrentImageResult.Algorithm</p>
<p>Szerokość: @Model.CurrentImageResult.Width</p>
<p>Wysokość: @Model.CurrentImageResult.Height</p>